h1{
    text-align: center;
    color: rgb(35, 181, 189);
}
span{
    color:white;
}
body{
 margin: 0;
 padding: 0;
 background-color:rgba(0, 0, 0, 0.883);
}
.textarea{
    width: 100vw;
    margin: auto;

height: 30vh;
 background-color:rgba(17, 14, 14, 0.782); 
 color: white;
 padding: 5px;
 font-size: 30px;
 font-weight: 400;

outline: none;
}
.langauge{
    display: flex;
color: white;
justify-content: space-around;
align-items: center;
margin: 30px;
}
select{
    outline: none;
    height: 35px;
    background-color:black;
    color: white;
    font-size: 20px;
    font-weight: 300;
}img{
background-color:black;
    color: white;
    height: 35px;
}
#English{
    display: none;
    color: rgb(35, 181, 189);
}
#Hindi{
    display: none;
    color: rgb(35, 181, 189);
}
p{
    color: white;
    position: -webkit-sticky;
    bottom: 0;
    
    text-align: center;
}